.MyCard {
  display: flex;
  align-items: center;
  margin: 1rem 0;
}

.MyImgCard {
  width: 50px;
  height: 50px;

  margin-right: 0.75rem;
}

img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: none;
}

span {
  font-size: 14px;
  color: #979797;
}
