* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.children {
  width: 100%;
  height: 100vw;
  overflow: auto;
  margin-left: auto;
  margin-right: auto;
}

.mainPages {
  padding: 0.75rem;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
}

/*voicemail*/
.voicemail {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.btnVoicemail {
  background-color: #ffffff00;
  color: #94a3b8;
  border: 1px solid #94a3b8;
  border-radius: 3px;
  padding: 0.3rem 0.3rem;
}
